<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_BlueknowRecPopulator>
            <version>1.0.0</version>
        </Webgriffe_BlueknowRecPopulator>
    </modules>
    <global>
        <models>
            <webgriffe_blueknowrecpopulator>
                <class>Webgriffe_BlueknowRecPopulator_Model</class>
                <resourceModel>webgriffe_blueknowrecpopulator_resource</resourceModel>
            </webgriffe_blueknowrecpopulator>
            <webgriffe_blueknowrecpopulator_resource>
                <class>Webgriffe_BlueknowRecPopulator_Model_Resource</class>
            </webgriffe_blueknowrecpopulator_resource>
        </models>
        <blocks>
            <webgriffe_blueknowrecpopulator>
                <class>Webgriffe_BlueknowRecPopulator_Block</class>
            </webgriffe_blueknowrecpopulator>
        </blocks>
        <helpers>
            <webgriffe_blueknowrecpopulator>
                <class>Webgriffe_BlueknowRecPopulator_Helper</class>
            </webgriffe_blueknowrecpopulator>
        </helpers>
        <resources>
            <webgriffe_blueknowrecpopulator_setup>
                <setup>
                    <module>Webgriffe_BlueknowRecPopulator</module>
                </setup>
            </webgriffe_blueknowrecpopulator_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <webgriffe>
                    <file>blueknow_rec_populator.xml</file>
                </webgriffe>
            </updates>
        </layout>
    </frontend>
</config>
